.myElement{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.greenBg{
    background: green;
}

.yellowBg{
    background: yellow;
}

.transition{
    transition: 3s;
}